body.dark {
    background: $dark;
    color: $light;
    
    .table,
    .table th {
        background-color: $dark;
        color: $light;
    }
    .navbar.is-dark {
        background-color: $black-bis;
    }
    .footer {
        background-color: $black-ter;
        color: $light;
        border-top: 1px solid $light;
    }
    .button,
    .button.is-info,
    .button.is-danger,
    .button.is-primary,
    .button.is-success {
        color: $light;
        background: $dark;
        border: 1px solid $light;
        &:hover {
            color: $light;
            background: $black-ter;
            border: 1px solid $light;
        }
    }
    .input {
        background: $dark;
        color: $light 
    }
    .title {
        color: $light;
    }
    .has-text-success,
    .has-text-danger {
        color: $light !important;
    }
    .is-blue,
    .is-yellow {
        border: 3px solid currentColor;
        .has-text-success,
        .has-text-danger {
            color: $dark !important;
        }
    }
    .territorywar {
        td a {
            font-weight: 700;
            color: $light;
        }
    }
    .card {
        background: $grey;
        border: 1px solid $light;
        color: $light;
        .collection-char-name-link {
            color: inherit
        }
    }
}