
.star {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 15px;
	height: 55px;
	color: #000;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	background: center 0 transparent url(https://swgoh.gg/static/img/star.png) no-repeat;
	background-size: 100%;
	z-index: 2;
}
.star-inactive {
	background-image: url(https://swgoh.gg/static/img/star-inactive.png);
}
.star1 {
	-webkit-transform: translateX(-50%) rotate(-60deg);
	transform: translateX(-50%) rotate(-60deg);
}
.star2 {
	-webkit-transform: translateX(-50%) rotate(-40deg);
	transform: translateX(-50%) rotate(-40deg);
}
.star3 {
	-webkit-transform: translateX(-50%) rotate(-20deg);
	transform: translateX(-50%) rotate(-20deg);
}
.star4 {
	-webkit-transform: translateX(-50%) rotate(0deg);
	transform: translateX(-50%) rotate(0deg);
}
.star5 {
	-webkit-transform: translateX(-50%) rotate(20deg);
	transform: translateX(-50%) rotate(20deg);
}
.star6 {
	-webkit-transform: translateX(-50%) rotate(40deg);
	transform: translateX(-50%) rotate(40deg);
}
.star7 {
	-webkit-transform: translateX(-50%) rotate(60deg);
	transform: translateX(-50%) rotate(60deg);
}
.character-image {
	.star {
		height: 57px;
	}
	width: 84px;
	height: 84px;
	background: transparent 100% no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto 10px;
	position: relative;
}
.char-portrait {
	background-color: #000;
	border-radius: 50px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.char-portrait-dark-side {
	.char-portrait-image {
		border-color: #b03233;
		box-shadow: inset 0 0 3px 2px rgba(176,50,51,.8);
	}
}
.char-portrait-light-side {
	.char-portrait-image {
		border-color: #3f8cba;
		box-shadow: inset 0 0 3px 2px rgba(63,140,186,.8);
	}
}
.char-portrait-image {
	display: inline-flex;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	border: 3px solid #333;
	background-color: #000;
	box-shadow: inset 0 0 3px 2px rgba(0,0,0,.8);
}
.char-portrait-img {
	width: 84px;
	height: 84px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: #111;
}
.char-portrait-gear-ready {
	position: absolute;
	background-color: #32cd32;
	width: 14px;
	height: 14px;
	right: 0;
	top: -1px;
	z-index: 10;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 3px rgba(0,0,0,.8);
}
.char-portrait-full {
	position: relative;
	width: 84px;
	height: 84px;
	background-color: #000;
	box-shadow: 0 0 0 2px #555;
	border-radius: 50%;
}
.char-portrait-full-full-link {
	display: block;
}
.char-portrait-full-empty {
	background-color: #ccc;
	box-shadow: 0 0 0 2px #aaa;
}
.char-portrait-full-img {
	width: 84px;
	height: 84px;
	border-radius: 50%;
	background-color: #000;
}
.char-portrait-full-gear {
	position: absolute;
	width: 84px;
	height: 84px;
	z-index: 2;
	top: 0;
	left: 0;
}
.char-portrait-full-gear-t1 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g1.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #a5d0da;
	}
}
.char-portrait-full-gear-t2 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g2.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #98fd33;
	}
}
.char-portrait-full-gear-t3 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g3.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #98fd33;
	}
}
.char-portrait-full-gear-t4 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g4.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #00bdfe;
	}
}
.char-portrait-full-gear-t5 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g5.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #00bdfe;
	}
}
.char-portrait-full-gear-t6 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g6.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #00bdfe;
	}
}
.char-portrait-full-gear-t7 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g7.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.char-portrait-full-gear-t8 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g8.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.char-portrait-full-gear-t9 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g9.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.char-portrait-full-gear-t10 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g10.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.char-portrait-full-gear-t11 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g11.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.char-portrait-full-gear-t12 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g12.svg);
	}
	.char-portrait-full-gear-level {
		background-color: #fc3;
	}
}
.char-portrait-full-gear-t13 {
	.char-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/g13-frame-atlas.png);
		width: 105px;
		height: 98px;
		background-size: 100%;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	.char-portrait-full-gear-level {
		background-color: #f56820;
	}
}
.char-portrait-full-gear-t13.char-portrait-full-alignment-dark-side {
	.char-portrait-full-gear {
		background-position: 0 -100%;
	}
	.char-portrait-full-relic {
		background-position: 0 -100%;
	}
}
.char-portrait-full-gear-t13.char-portrait-full-alignment-neutral {
	.char-portrait-full-gear {
		background-position: 0 -200%;
	}
	.char-portrait-full-relic {
		background-position: 0 -200%;
	}
}
.char-portrait-full-gear-level {
	position: absolute;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	color: #fff;
	font-weight: 700;
	background-color: #264257;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 100%/130% 130% 15px 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	text-shadow: -1px -1px 0 #000,2px -1px 0 #000,2px 2px 0 #000,-1px 2px 0 #000,2px 3px 0 #000,1px 3px 0 #000,2px 3px 0 #000;
	left: 80%;
	bottom: 0;
	font-size: 12px;
	min-width: 26px;
	padding: 0 6px 0 5px;
	z-index: 2;
	box-shadow: 0 1px 2px rgba(0,0,0,.5),inset 0 0 8px 1px rgba(0,0,0,.5);
}
.char-portrait-full-level {
	position: absolute;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	color: #fff;
	font-weight: 700;
	background-color: #264257;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 100%/130% 130% 15px 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	text-shadow: -1px -1px 0 #000,2px -1px 0 #000,2px 2px 0 #000,-1px 2px 0 #000,2px 3px 0 #000,1px 3px 0 #000,2px 3px 0 #000;
	position: absolute;
	bottom: -5px;
	left: 50%;
	z-index: 4;
	width: 30px;
	padding: 0 5px;
}
.char-portrait-full-zeta {
	background: 50% transparent url(https://swgoh.gg/static/img/assets/tex.skill_zeta_glow.png) no-repeat;
	background-size: contain;
	width: 50px;
	height: 40px;
	top: 48px;
	left: -17px;
	line-height: 40px;
	text-shadow: -1px -1px 0 #7028c9,2px -1px 0 #7028c9,2px 2px 0 #7028c9,-1px 2px 0 #7028c9,2px 3px 0 #7028c9,1px 3px 0 #7028c9,2px 3px 0 #7028c9;
	position: absolute;
	z-index: 4;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
}
.char-portrait-full-relic {
	position: absolute;
	z-index: 4;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	background-image: url(https://swgoh.gg/static/img/ui/relic-badge-atlas.png);
	background-size: 100%;
	width: 44px;
	height: 44px;
	top: 44px;
	right: -13px;
	line-height: 43px;
	text-shadow: -1px -1px 0 #000,2px -1px 0 #000,2px 2px 0 #000,-1px 2px 0 #000,2px 3px 0 #000,1px 3px 0 #000,2px 3px 0 #000;
}
img {
	&:not([src]) {
		visibility: hidden;
	}
}
.char-shard {
	position: relative;
	width: 84px;
	height: 84px;
	display: inline-block;
	vertical-align: middle;
}
.char-shard-dark-side {
	.char-shard-overlay {
		background-image: url(https://swgoh.gg/static/img/ui/char-shard-dark-side.png);
	}
}
.char-shard-light-side {
	.char-shard-overlay {
		background-image: url(https://swgoh.gg/static/img/ui/char-shard-light-side.png);
	}
}
.char-shard-small {
	width: 40px;
	height: 40px;
	.char-shard-img {
		width: 34px;
		height: 34px;
	}
}
.char-shard-micro {
	width: 34px;
	height: 34px;
	.char-shard-img {
		width: 28px;
		height: 28px;
	}
}
.char-shard-overlay {
	background: transparent 50% no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.char-shard-img {
	position: absolute;
	width: 72px;
	height: 72px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 1;
}
.enemy-preview-list {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	padding: 0 10px;
	margin: 15px 0;
	.enemy-portrait {
		margin: 5px;
	}
}
.char-ability {
	display: inline-block;
	border: 3px solid #333;
	background-color: #111;
	border-radius: 4px;
	box-shadow: 0 0 2px 3px #ccc;
}
.char-ability.char-ability-micro {
	.char-ability-img {
		width: 30px;
		height: 30px;
	}
}
.char-ability.char-ability-small {
	.char-ability-img {
		width: 50px;
		height: 50px;
	}
}
.char-ability.char-ability-large {
	.char-ability-img {
		width: 100px;
		height: 100px;
	}
}
.char-ability-img {
	width: 80px;
	height: 80px;
}
.unit-image {
	.star {
		height: 55px;
	}
	width: 80px;
	height: 80px;
	background: transparent 100% no-repeat;
	background-size: cover;
	border-radius: 50%;
	margin: 0 auto 10px;
	position: relative;
}
.unit-gear-icon {
	width: 80px;
	height: 80px;
}
.unit-gear-icon-t1 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g1.svg);
}
.unit-gear-icon-t2 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g2.svg);
}
.unit-gear-icon-t3 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g3.svg);
}
.unit-gear-icon-t4 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g4.svg);
}
.unit-gear-icon-t5 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g5.svg);
}
.unit-gear-icon-t6 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g6.svg);
}
.unit-gear-icon-t7 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g7.svg);
}
.unit-gear-icon-t8 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g8.svg);
}
.unit-gear-icon-t9 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g9.svg);
}
.unit-gear-icon-t10 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g10.svg);
}
.unit-gear-icon-t11 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g11.svg);
}
.unit-gear-icon-t12 {
	background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g12.svg);
}
.unit-level {
	color: #fff;
	font-weight: 700;
	background-color: #264257;
	position: absolute;
	bottom: -5px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border: 2px solid #fff;
	padding: 0 5px;
	width: 30px;
	text-align: center;
	border-radius: 100%/130% 130% 15px 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
	text-shadow: -1px -1px 0 #000,2px -1px 0 #000,2px 2px 0 #000,-2px 2px 0 #000,2px 3px 0 #000,1px 3px 0 #000,2px 3px 0 #000;
}
.unit-list {
	.unit {
		&:hover {
			background-color: #f9f9f9;
		}
	}
	.unit.light-side {
		background: #fff url(https://swgoh.gg/static/img/light-side-bg.png) no-repeat 100%;
	}
	.unit.dark-side {
		background: #fff url(https://swgoh.gg/static/img/dark-side-bg.png) no-repeat 100%;
	}
	.unit-image {
		margin-right: 15px;
	}
}
.unit-list-image {
	border-radius: 50%;
	width: 30px;
	margin-right: 5px;
}
.unit-card.light-side {
	background-image: url(https://swgoh.gg/static/img/light-side.jpg);
}
.unit-card.dark-side {
	background-image: url(https://swgoh.gg/static/img/dark-side.jpg);
}
.unit-card.neutral {
	background-image: url(https://swgoh.gg/static/img/light-dark-side.png);
}
.unit-card.no-side {
	background-image: url(https://swgoh.gg/static/img/light-dark-side.png);
}
.unit-portrait-list {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	.unit-portrait {
		margin: 5px;
	}
}
.unit-portrait {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.unit-portrait-dark-side {
	.unit-portrait-image {
		border-color: #b03233;
		box-shadow: inset 0 0 3px 2px rgba(176,50,51,.8);
	}
}
.unit-portrait-light-side {
	.unit-portrait-image {
		border-color: #3f8cba;
		box-shadow: inset 0 0 3px 2px rgba(63,140,186,.8);
	}
}
.unit-portrait-micro {
	border-width: 2px;
	.unit-portrait-image {
		width: 30px;
		height: 30px;
	}
	.unit-portrait-img {
		width: 30px;
		height: 30px;
	}
}
.unit-portrait-xsmall {
	border-width: 2px;
	.unit-portrait-image {
		width: 40px;
		height: 40px;
	}
	.unit-portrait-img {
		width: 40px;
		height: 40px;
	}
}
.unit-portrait-small {
	border-width: 2px;
	.unit-portrait-image {
		width: 50px;
		height: 50px;
	}
	.unit-portrait-img {
		width: 50px;
		height: 50px;
	}
}
.unit-portrait-medium {
	.unit-portrait-image {
		width: 64px;
		height: 64px;
	}
	.unit-portrait-img {
		width: 64px;
		height: 64px;
	}
}
.unit-portrait-large {
	.unit-portrait-image {
		width: 100px;
		height: 100px;
	}
	.unit-portrait-img {
		width: 100px;
		height: 100px;
	}
}
.unit-portrait-image {
	position: relative;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 3px solid #333;
	box-shadow: inset 0 0 3px 2px rgba(0,0,0,.8);
	background-color: #111;
}
.unit-portrait-img {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.unit-portrait-gear-ready {
	position: absolute;
	background-color: #32cd32;
	width: 14px;
	height: 14px;
	right: 0;
	top: -1px;
	z-index: 10;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 3px rgba(0,0,0,.8);
}
.unit-portrait-full {
	position: relative;
	width: 80px;
	height: 80px;
	box-shadow: 0 0 0 2px #555;
	border-radius: 50%;
}
.unit-portrait-full-micro {
	width: 35px;
	height: 35px;
	.unit-portrait-full-gear {
		width: 35px;
		height: 35px;
	}
	.unit-portrait-full-img {
		width: 35px;
		height: 35px;
	}
	.unit-portrait-full-level {
		font-size: 8px;
		padding: 0 3px;
		border-radius: 100%/130% 130% 9px 9px;
		border-width: 1px;
		width: auto;
	}
	.star {
		width: 7px;
		height: 26px;
	}
}
.unit-portrait-full-small {
	width: 50px;
	height: 50px;
	.unit-portrait-full-gear {
		width: 50px;
		height: 50px;
	}
	.unit-portrait-full-img {
		width: 50px;
		height: 50px;
	}
	.unit-portrait-full-level {
		font-size: 11px;
		width: 25px;
		padding: 0;
	}
	.star {
		width: 11px;
		height: 38px;
	}
}
.unit-portrait-full-large {
	width: 100px;
	height: 100px;
	.unit-portrait-full-gear {
		width: 100px;
		height: 100px;
	}
	.unit-portrait-full-img {
		width: 100px;
		height: 100px;
	}
	.star {
		width: 19px;
		height: 69px;
	}
	.unit-portrait-full-level {
		font-size: 16px;
		width: 35px;
	}
	.unit-portrait-full-gear-level {
		font-size: 14px;
		width: 30px;
		left: 78%;
	}
}
.unit-portrait-full-full-link {
	display: block;
}
.unit-portrait-full-empty {
	background-color: #ccc;
	box-shadow: 0 0 0 2px #aaa;
}
.unit-portrait-full-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #000;
}
.unit-portrait-full-gear {
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: 2;
	top: 0;
	left: 0;
}
.unit-portrait-full-gear-t1 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g1.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #a5d0da;
	}
}
.unit-portrait-full-gear-t2 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g2.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #98fd33;
	}
}
.unit-portrait-full-gear-t3 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g3.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #98fd33;
	}
}
.unit-portrait-full-gear-t4 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g4.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #00bdfe;
	}
}
.unit-portrait-full-gear-t5 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g5.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #00bdfe;
	}
}
.unit-portrait-full-gear-t6 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g6.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #00bdfe;
	}
}
.unit-portrait-full-gear-t7 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g7.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.unit-portrait-full-gear-t8 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g8.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.unit-portrait-full-gear-t9 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g9.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.unit-portrait-full-gear-t10 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g10.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.unit-portrait-full-gear-t11 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g11.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #9241ff;
	}
}
.unit-portrait-full-gear-t12 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g12.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #fc3;
	}
}
.unit-portrait-full-gear-t13 {
	.unit-portrait-full-gear {
		background-image: url(https://swgoh.gg/static/img/ui/gear-icon-g13.svg);
	}
	.unit-portrait-full-gear-level {
		background-color: #f56820;
	}
}
.unit-portrait-full-gear-level {
	position: absolute;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	color: #fff;
	font-weight: 700;
	background-color: #264257;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 100%/130% 130% 15px 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	text-shadow: -1px -1px 0 #000,2px -1px 0 #000,2px 2px 0 #000,-1px 2px 0 #000,2px 3px 0 #000,1px 3px 0 #000,2px 3px 0 #000;
	left: 80%;
	bottom: 0;
	font-size: 12px;
	min-width: 26px;
	padding: 0 6px 0 5px;
	z-index: 2;
	box-shadow: 0 1px 2px rgba(0,0,0,.5),inset 0 0 8px 1px rgba(0,0,0,.5);
}
.unit-portrait-full-level {
	position: absolute;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	color: #fff;
	font-weight: 700;
	background-color: #264257;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 100%/130% 130% 15px 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	text-shadow: -1px -1px 0 #000,2px -1px 0 #000,2px 2px 0 #000,-1px 2px 0 #000,2px 3px 0 #000,1px 3px 0 #000,2px 3px 0 #000;
	position: absolute;
	bottom: -5px;
	left: 50%;
	z-index: 4;
	width: 30px;
	padding: 0 5px;
}
.unit-ability {
	display: inline-block;
	border: 3px solid #333;
	background-color: #111;
	border-radius: 4px;
	box-shadow: 0 0 2px 3px #ccc;
}
.unit-ability.unit-ability-micro {
	.unit-ability-img {
		width: 30px;
		height: 30px;
	}
}
.unit-ability.unit-ability-small {
	.unit-ability-img {
		width: 50px;
		height: 50px;
	}
}
.unit-ability.unit-ability-large {
	.unit-ability-img {
		width: 100px;
		height: 100px;
	}
}
.unit-ability-img {
	width: 80px;
	height: 80px;
}
.unit-stat-group-stat {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
	font-size: 12px;
	&:after {
		display: table;
		content: "";
		clear: both;
	}
	&:before {
		display: table;
		content: "";
		clear: both;
	}
}
.unit-stat-group-stat-label {
	flex-grow: 1;
}
.unit-stat-group-stat-value {
	line-height: 1.2;
}
.unit-stat-group-stat-equipment {
	color: #0763c7;
	font-weight: 700;
	margin-left: 5px;
}
.unit-stat-group-stat-primary {
	.unit-stat-group-stat-label {
		color: #00ca00;
	}
}
.collection-char {
	position: relative;
	height: 164px;
	padding: 10px 0;
	&:after {
		display: table;
		content: "";
		clear: both;
	}
	&:before {
		display: table;
		content: "";
		clear: both;
	}
	.player-char-portrait {
		margin: 15px auto 10px;
		box-shadow: 0 0 1px 2px #111;
	}
	.char-portrait {
		margin: 15px auto 10px;
		width: 80px;
		display: block;
	}
	.collection-char-statmods {
		display: none;
	}
	.pc-statmod-list {
		margin: 0 auto;
	}
}
.collection-char-name {
	display: table;
	min-height: 30px;
	line-height: 1;
	text-align: center;
	font-weight: 700;
	width: 100%;
	@include mobile {
		font-size: 14px;
	}
}
.collection-char-name-link {
	color: #333;
	display: table-cell;
	vertical-align: top;
}
.collection-char-gp {
	display: flex;
	align-items: center;
	width: 50px;
	line-height: 1;
	margin: 4px auto;
	position: relative;
}
.collection-char-gp-label {
	padding-left: 3px;
	font-size: 10px;
	font-weight: 700;
	position: absolute;
	left: 100%;
	display: flex;
}
.collection-char-gp-label-percent {
	font-size: 8px;
}
.collection-char-gp-progress {
	background: #ccc;
	height: 5px;
	border-radius: 10px;
	overflow: hidden;
	flex: 1;
}
.collection-char-gp-progress-bar {
	height: 100%;
	background: #617a88;
	border-radius: 10px;
}
.character-portrait2--tier-13.character-portrait2--alignment-dark-side {
	.character-portrait2__relic {
		background-position: 0 -100%;
	}
	.character-portrait2__tier-overlay {
		background-position: 0 -100%;
	}
}
.character-portrait2--tier-13.character-portrait2--alignment-neutral {
	.character-portrait2__relic {
		background-position: 0 -200%;
	}
	.character-portrait2__tier-overlay {
		background-position: 0 -200%;
	}
}
.character-portrait2--size-micro.character-portrait2--tier-13 {
	.character-portrait2__tier-overlay {
		width: 45px;
		height: 42px;
	}
}
.character-portrait2--size-xsmall.character-portrait2--tier-13 {
	.character-portrait2__tier-overlay {
		width: 54px;
		height: 50px;
	}
}
.character-portrait2--size-small.character-portrait2--tier-13 {
	.character-portrait2__tier-overlay {
		width: 64px;
		height: 60px;
	}
}
.character-portrait2--size-medium.character-portrait2--tier-13 {
	.character-portrait2__tier-overlay {
		width: 83px;
		height: 78px;
	}
}
.character-portrait2--size-large.character-portrait2--tier-13 {
	.character-portrait2__tier-overlay {
		width: 130px;
		height: 121px;
	}
}
.character-portrait2--no-tier.character-portrait2--alignment-dark-side {
	.character-portrait2__image {
		border-color: #b03233;
		box-shadow: inset 0 0 3px 2px rgba(176,50,51,.8);
	}
}
.character-portrait2--no-tier.character-portrait2--alignment-light-side {
	.character-portrait2__image {
		border-color: #3f8cba;
		box-shadow: inset 0 0 3px 2px rgba(63,140,186,.8);
	}
}